{% if arPluhinList is not empty %}
<div uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 300">
    {% if 'shopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-shopaholic" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/shopoholic_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'propertiesshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-propertiesshopaholic" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/properties_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'filtershopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-filtershopaholic" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/filters_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'buddies' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-buddies" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/buddies_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'ordersshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-ordersshopaholic" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/orders_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'omnipayshopaholic' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-omnipayshopaholic" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                src="/plugins/lovata/basecode/assets/img/omnipay_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if 'toolbox' in arPluhinList %}
        <div class="uk-transition-toggle uk-inline-clip">
            <a href="http://octobercms.com/plugin/lovata-toolbox" target="_blank">
                <img class="uk-margin-small-top uk-transition-scale-up uk-transition-opaque"
                     src="/plugins/lovata/basecode/assets/img/toolbox_bunner.png" alt="">
            </a>
        </div>
    {% endif %}
</div>
{% endif %}
