<div class="uk-margin-small-top right_panel">
    {% partial 'common/page_info' sText='pages/category.htm' %}
    <div class="uk-padding-small uk-padding-remove-bottom">
        <div class="uk-alert-primary" uk-alert>
            <p>Category page with a list of child categories. List of categories sorted and filtered by field "active".</p>
        </div>
    </div>
    <div class="uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
        <div class="uk-alert-primary" uk-alert>
            <p>We use the <a href="https://github.com/lovata/oc-shopaholic-plugin/wiki/CategoryPage" target="_blank"><strong>CategoryPage</strong></a> component to render category page.</p>
        </div>
    </div>
    {% partial 'common/plugin_list_block' %}
</div>
