{% set arStepList = {
    1: {
        'title': 'It works.',
        'description': 'Create first page with Shopaholic plugin',
        'tab': ['all']
    },
    2: {
        'title': 'Create product page.',
        'description': 'Create product page with URL "/product/:slug". Render product name, description. Render offer images, price.',
        'tab': ['all', 'product']
    },
    3: {
        'title': 'Render the catalog menu using the category tree.',
        'description': 'Create category tree in backend. Render the catalog menu using the category tree.',
        'tab': ['all', 'category']
    },
    4: {
        'title': 'Create category page with render list of child categories.',
        'description': 'Create category tree in backend. Create category page. Render category name, preview image, description, list of child categories.',
        'tab': ['all', 'category']
    }
} %}

<div class="list-group">

    {% for iStepNumber,arStep in arStepList %}
        {% set bActive = tab in arStep.tab %}
        <a href="{{ 'quick_start_guide_step'|page({'step': iStepNumber}) }}" class="list-group-item list-group-item-action flex-column align-items-start {% if tab != 'all' %}{% if bActive %}list-group-item-success{% else %}list-group-item-light{% endif %}{% endif %}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>Step-{{ iStepNumber }}:</strong> {{ arStep.title }}</h5>
            </div>
            {% if arStep.description is not empty %}
                <p class="mb-1"><strong>Task:</strong> {{ arStep.description }}</p>
            {% endif %}
        </a>
    {% endfor %}
</div>