<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="center: true; autoplay: true; autoplay-interval: 3000">
    <ul class="uk-slider-items uk-child-width-1-2">
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-shopaholic" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/shopoholic_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-propertiesshopaholic" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/properties_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-filtershopaholic" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/filters_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-ordersshopaholic" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/orders_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-omnipayshopaholic" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/omnipay_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-toolbox" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/toolbox_bunner.png" alt="">
                </a>
            </div>
        </li>
        <li class="plugin-slider-item">
            <div class="uk-panel">
                <a href="http://octobercms.com/plugin/lovata-buddies" target="_blank">
                    <img src="/plugins/lovata/basecode/assets/img/buddies_bunner.png" alt="">
                </a>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
       uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
       uk-slider-item="next"></a>

</div>