title = "Parent category page"
url = "/catalog/:parent"
layout = "default"
meta_title = "Parent category page"
is_hidden = 0

[CategoryPage]
slug = "{{ :parent }}"
slug_required = 1
==

{# Get parent category item #}
{% set obParentCategory = CategoryPage.get() %}

{% partial 'breadcrumbs/category_list' sTitle = obParentCategory.name %}

<div class="row">
    <div class="mb-2 col-2">
        {% if obParentCategory.preview_image is not empty %}
            <img class="img-fluid" src="{{ obParentCategory.preview_image.path }}" alt="{{ obParentCategory.preview_image.description }}" title="{{ obParentCategory.preview_image.title }}">
        {% endif %}
    </div>
    <div class="jumbotron col-8">
        <h1 class="display-3">{{ obParentCategory.name }}</h1>
        <p class="lead">{{ obParentCategory.preview_text }}</p>
        <hr class="my-4">
        {{ obParentCategory.description|raw }}
    </div>

    {# Check children category list #}
    {% if obParentCategory.children.isNotEmpty() %}
        <div class="list-group col-2">

            {# Render children category list #}
            {% for obCategory in obParentCategory.children %}
                <a class="list-group-item" href="{{ 'product_list'|page({'parent': obParentCategory.slug, 'slug': obCategory.slug}) }}">
                    {{ obCategory.name }} ({{ obCategory.product_count }} goods)
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
