title = "Product page"
url = "/product/:slug"
layout = "main"
meta_title = "Product page"
is_hidden = 0

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1

[CatalogBreadcrumbs]

[ProductList]
sorting = "new"
==
{# Get product item #}
{% set obProduct = ProductPage.get() %}

{# Get breadcrumbs #}
{% set arBreadcrumbs = CatalogBreadcrumbs.getByProductID(obProduct.id) %}

<div class="uk-grid uk-margin-small-left">
    <div class="uk-width-5-6">
        <div class="uk-margin-small-bottom">
            {% partial 'breadcrumbs/catalog' arBreadcrumbs=arBreadcrumbs %}
        </div>

        <div class="product_info_wrapper" uk-grid>
            {% partial 'product/product_gallery' obProduct=obProduct %}
            {% partial 'product/product_info' obProduct=obProduct %}
        </div>

        <hr class="uk-padding-remove uk-margin-remove-top">
        <div>
            <ul uk-tab="animation: uk-animation-fade">
                {#{% if has_plugin('Lovata.RelatedProductsShopaholic') %}#}
                    <li><a href="#">Related</a></li>
                {#{% endif %}#}
                <li><a href="#">Characteristics</a></li>
                {#{% if has_plugin('Lovata.ReviewsShopaholic') %}#}
                    <li><a href="#">Reviews</a></li>
                {#{% endif %}#}
                {#{% if has_plugin('Lovata.AccessoriesShopaholic') %}#}
                    <li><a href="#">Accessories</a></li>
                {#{% endif %}#}
            </ul>

            <div class="uk-switcher uk-margin">
                {#{% if has_plugin('Lovata.RelatedProductsShopaholic') %}#}
                <div>
                    {% set obProductList = ProductList.make().active().random(8) %}
                    {% partial 'product/product_slider' obProductList=obProductList %}
                </div>
                {#{% endif %}#}
                <div>
                    {% partial 'product/product_properties' obProduct=obProduct %}
                </div>
                {#{% if has_plugin('Lovata.ReviewsShopaholic') %}#}
                <div>
                    {% partial 'ajax/ajax_comment_list' %}
                </div>
                {#{% endif %}#}
                {#{% if has_plugin('Lovata.AccessoriesShopaholic') %}#}
                <div>
                        {% set obProductList = ProductList.make().active().random(8) %}
                        {% partial 'product/product_slider' obProductList=obProductList %}
                </div>
                {#{% endif %}#}
            </div>
        </div>
        <div class="uk-margin-small-top">
            {% partial 'product/product_description' obProduct=obProduct %}
        </div>
    </div>
    <div class="uk-width-1-6">
        {% partial 'right_panel/product_page' %}
    </div>
</div>