body {
    background-color: #f7f7f7;
    min-width: 1200px;
}

.filter_between {
    width: 48.5%;
}

.plugin-slider-item {
    padding-left: 5px;
}

.product_thumbnav_wrapper {
    width: 100px;
}

.product_gallery_wrapper {
    min-width: 300px;
    width: 500px;
    height: 660px;
    margin-left: 5px;
}

.product-small-card-title {
    font-size: 1.2rem;
}

.product_info_wrapper {
    height: 660px
}

.product_small_card_title {
    height: 60px;
}

.slider-item{
    width: 305px;
}

.right-panel_width{
    max-width: 195px;
}

.uk-alert-close , .uk-alert-primary{
    font-size: small;
}

.container{
    padding: 0 100px !important;
    margin-bottom: 25px;
}

.product-slider{
    padding-left: 50px;
}

.product_sliders{
    padding-top: 50px;
}

.slider-label{
    padding-left: 10px;
}

.review-area{
    width: 400px;
    height: 160px;
    margin-bottom: 20px;
}

.user-name-label, .user-surname-label{
    margin: 0;
}

.user-name-input, .user-surname-input{
    width: 200px;
    height: 25px;
    margin-bottom: 15px;
}

.tag{
    margin: 1px 10px 0 0;
    display: inline-block;
}

.badge-block{
    top: 5px;
    left: 10px;
}

.compare-icon{
    top: 5px;
    right: 5px;
}

.badge{
    margin-bottom: 5px;
}

.autocomplete{
    position: absolute;
    width: 1000px;
    top: 160%;
    left: -150%;
    background: white;
}

.search-result{
    max-height: 400px;
    overflow: auto;
    border: 1px solid lightgray;
}

.result{
    height: 400px;
}

.compare-products{
    max-width: 100%;
    overflow: auto;
}

.other-compares, .product-info{
    height: 350px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.parameters , .product-chracteristics{
    border-right: 1px solid darkgray;
}

.product-name{
    padding: 10px;
}

.compares-list{
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.compares-list__item a{
    text-decoration: none;
    color: #666;
}

.compares-list__item a:active{
    color: #1e87f0;
}

.parameters-list, .characteristics-list{
    padding: 0;
}

.parameters-list li, .characteristics-list li{
    padding: 0 10px 10px 30px;
    display: block;
    border-bottom: 1px solid darkgray;
}

.characteristics-list li{
    border-right: 1px solid darkgray;  
}

.parameters-list li p, .characteristics-list li p{
    margin: 0;
}

.other-compares div{
    padding: 10px;
}

.product-info{
    height: 350px;
    width: 260px;
}